In [1]:
import pandas as pd
import numpy as np
import json
from jinja2 import Environment, FileSystemLoader

filepath = r'C:\Users\Luis_Dutra\3D Objects\datasets\enem\MICRODADOS_ENEM_2019.csv'

# Ler quantidade determinada de linhas do dataset
#df = pd.read_csv(filepath, encoding='iso8859-1', sep = ';', nrows = 100000000)
df = pd.read_csv(filepath, encoding='iso8859-1', sep = ';')

# Deletando colunas dispensáveis do dataframe
del df['NO_MUNICIPIO_NASCIMENTO']
del df['CO_PROVA_CN']
del df['CO_PROVA_CH']
del df['CO_PROVA_LC']
del df['CO_PROVA_MT']
del df['NU_ANO']
del df['CO_MUNICIPIO_RESIDENCIA']
del df['CO_UF_RESIDENCIA']
del df['CO_MUNICIPIO_NASCIMENTO']
del df['CO_UF_NASCIMENTO']
del df['CO_ESCOLA']
del df['CO_MUNICIPIO_ESC']
del df['CO_UF_ESC']
del df['CO_MUNICIPIO_PROVA']
del df['CO_UF_PROVA']
del df['TX_RESPOSTAS_CN']
del df['TX_RESPOSTAS_CH']
del df['TX_RESPOSTAS_LC']
del df['TX_RESPOSTAS_MT']
del df['TX_GABARITO_CN']
del df['TX_GABARITO_CH']
del df['TX_GABARITO_LC']
del df['TX_GABARITO_MT']
del df['Q003']
del df['Q004']
del df['Q005']
del df['Q007']
del df['Q008']
del df['Q009']
del df['Q010']
del df['Q011']
del df['Q012']
del df['Q013']
del df['Q014']
del df['Q015']
del df['Q016']
del df['Q017']
del df['Q018']
del df['Q019']
del df['Q020']
del df['Q021']
del df['Q022']
del df['Q023']
del df['Q024']
del df["IN_BAIXA_VISAO"]
del df["IN_NOME_SOCIAL"]
del df["IN_SALA_INDIVIDUAL"]
del df["IN_SALA_ESPECIAL"]
del df["IN_SALA_ACOMPANHANTE"]
del df["IN_MOBILIARIO_ESPECIFICO"]
del df["IN_MATERIAL_ESPECIFICO"]
del df["IN_DEFICIENCIA_AUDITIVA"]
del df["IN_VISAO_MONOCULAR"]
del df["IN_OUTRA_DEF"]
del df["IN_LACTANTE"]
del df["IN_ESTUDA_CLASSE_HOSPITALAR"]
del df["IN_SEM_RECURSO"]
del df["IN_BRAILLE"]
del df["IN_AMPLIADA_24"]
del df["IN_AMPLIADA_18"]
del df["IN_LEDOR"]
del df["IN_ACESSO"]
del df["IN_TRANSCRICAO"]
del df["IN_LIBRAS"]
del df["IN_TEMPO_ADICIONAL"]
del df["IN_LEITURA_LABIAL"]
del df["IN_MESA_CADEIRA_RODAS"]
del df["IN_MESA_CADEIRA_SEPARADA"]
del df["IN_APOIO_PERNA"]
del df["IN_GUIA_INTERPRETE"]
del df["IN_COMPUTADOR"]
del df["IN_CADEIRA_ESPECIAL"]
del df["IN_CADEIRA_CANHOTO"]
del df["IN_CADEIRA_ACOLCHOADA"]
del df["IN_PROVA_DEITADO"]
del df["IN_MOBILIARIO_OBESO"]
del df["IN_LAMINA_OVERLAY"]
del df["IN_PROTETOR_AURICULAR"]
del df["IN_MEDIDOR_GLICOSE"]
del df["IN_MAQUINA_BRAILE"]
del df["IN_SOROBAN"]
del df["IN_MARCA_PASSO"]
del df["IN_SONDA"]
del df["IN_MEDICAMENTOS"]
del df['NU_NOTA_COMP1']
del df['NU_NOTA_COMP2']
del df['NU_NOTA_COMP3']
del df['NU_NOTA_COMP4']
del df['NU_NOTA_COMP5']

print("Remoções prontas")

Remoções prontas

In [2]:
# Os valores do dataset foram substituidos pelos seus reais significados do dicionário
# df["column_name"].replace({0:"", 1:"", 2:"", 3:"", 4:""}, inplace=True)
# Trocando alguns valores inteiros do data set pelo seus reais significados

df["TP_ESTADO_CIVIL"].replace({0:"Não informado", 1:"Solteiro(a)", 2:"Casado(a)/Mora com companheiro(a)", 3:"Divorciado(a)/Desquitado(a)/Separado(a)", 4:"Viúvo(a)"}, inplace=True)
df["TP_COR_RACA"].replace({0:"Não declarado", 1:"Branca", 2:"Preta", 3:"Parda", 4:"Amarela", 5:"Indígena"}, inplace=True)
df["TP_NACIONALIDADE"].replace({0:"Não informado", 1:"Brasileiro(a)", 2:"Brasileiro(a) Naturalizado(a)", 3:"Estrangeiro(a)", 4:"Brasileiro(a) Nato(a), nascido(a) no exterior"}, inplace=True)
df["TP_ST_CONCLUSAO"].replace({1:"Já concluí o Ensino Médio", 2:"Estou cursando e concluirei o Ensino Médio em 2019", 3:"Estou cursando e concluirei o Ensino Médio após 2019", 4:"Não concluí e não estou cursando o Ensino Médio"}, inplace=True)
df["TP_ANO_CONCLUIU"].replace({0:"Não informado", 1:"2018", 2:"2017", 3 :"2016", 4:"2015", 5:"2014", 6:"2013", 7:"2012", 8:"2011", 9:"2010", 10:"2009", 11:"2008", 12:"2007", 13:"Antes de 2007"}, inplace=True)
df["TP_ESCOLA"].replace({1:"Não Respondeu", 2:"Pública", 3:"Privada", 4:"Exterior"}, inplace=True)
df["TP_ENSINO"].replace({1:"Ensino Regular", 2:"Educação Especial - Modalidade Substitutiva", 3:"Educação de Jovens e Adultos"}, inplace=True)
df["IN_TREINEIRO"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["TP_DEPENDENCIA_ADM_ESC"].replace({1:"Federal", 2:"Estadual", 3:"Municipal", 4:"Privada"}, inplace=True)
df["TP_LOCALIZACAO_ESC"].replace({1:"Urbana", 2:"Rural"}, inplace=True)
df["TP_SIT_FUNC_ESC"].replace({1:"Em atividade", 2:"Paralisada", 3:"Extinta"}, inplace=True)
df["IN_CEGUEIRA"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_SURDEZ"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_IDOSO"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_GESTANTE"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_DEFICIENCIA_FISICA"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_DEFICIENCIA_MENTAL"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_DEFICIT_ATENCAO"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_DISLEXIA"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_DISCALCULIA"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_AUTISMO"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["IN_SURDO_CEGUEIRA"].replace({1:"Sim", 0:"Não"}, inplace=True)
df["TP_PRESENCA_CN"].replace({0:"Faltou à prova", 1:"Presente na prova", 2:"Eliminado na Prova"}, inplace=True)
df["TP_PRESENCA_CH"].replace({0:"Faltou à prova", 1:"Presente na prova", 2:"Eliminado na Prova"}, inplace=True) 
df["TP_PRESENCA_LC"].replace({0:"Faltou à prova", 1:"Presente na prova", 2:"Eliminado na Prova"}, inplace=True) 
df["TP_PRESENCA_MT"].replace({0:"Faltou à prova", 1:"Presente na prova", 2:"Eliminado na Prova"}, inplace=True)
df["TP_LINGUA"].replace({0:"Inglês", 1:"Espanhol"}, inplace=True)
df["TP_STATUS_REDACAO"].replace({1:"Sem problemas", 2:"Anulada", 3:"Cópia Texto Motivador", 4:"Em Branco", 6:"Fuga ao tema", 7:"Não atendimento ao tipo textual", 8:"Texto insuficiente", 9:"Parte desconectada"}, inplace=True)

#Até que série seu pai, ou o homem responsável por você, estudou?
df['Q001'].replace({
"A":"Nunca estudou.",
"B":"Não completou a 4ª série/5º ano do Ensino Fundamental.",
"C":"Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
"D":"Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
"E":"Completou o Ensino Médio, mas não completou a Faculdade.",
"F":"Completou a Faculdade, mas não completou a Pós-graduação.",
"G":"Completou a Pós-graduação.",
"H":"Não sei."
}, inplace=True)

#Até que série sua mãe, ou a mulher responsável por você, estudou?
df['Q002'].replace({
"A":"Nunca estudou.",
"B":"Não completou a 4ª série/5º ano do Ensino Fundamental.",
"C":"Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
"D":"Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
"E":"Completou o Ensino Médio, mas não completou a Faculdade.",
"F":"Completou a Faculdade, mas não completou a Pós-graduação.",
"G":"Completou a Pós-graduação.",
"H":"Não sei."
}, inplace=True)

#Qual é a renda mensal de sua família?
df['Q006'].replace({
"A":"Nenhuma renda.",
"B":"1 SM",
"C":"1 a 1.5 SM",
"D":"1.5 a 2 SM",
"E":"2 a 2.5 SM",
"F":"2.5 a 3 SM",
"G":"3 a 4 SM",
"H":"4 a 5 SM",
"I":"5 a 6 SM",
"J":"6 a 7 SM",
"K":"7 a 8 SM",
"L":"8 a 9 SM",
"M":"9 a 10 SM",
"N":"10 a 12 SM",
"O":"12 a 15 SM",
"P":"15 a 20 SM",
"Q":"Mais de 20 SM"
}, inplace=True)

#Na sua residência tem acesso à Internet? 
df['Q025'].replace({"A":"Não", "B":"Sim"}, inplace=True) 

print("Replaces prontos")

Replaces prontos

In [3]:
# Filtro  21202 Inscrições
# Inscritos que residem em Porto Alegre
# Fizeram a prova em Porto Alegre
# Presença em todas as provas
df_by_city = df.loc[((df['NO_MUNICIPIO_RESIDENCIA'] == 'Porto Alegre') &
             (df['NO_MUNICIPIO_PROVA'] == 'Porto Alegre') &       
             (df['TP_PRESENCA_CN'] == 'Presente na prova') &
             (df['TP_PRESENCA_CH'] == 'Presente na prova') &
             (df['TP_PRESENCA_LC'] == 'Presente na prova') &
             (df['TP_PRESENCA_MT'] == 'Presente na prova'))]

# x INSCRIÇÕES DE PORTO ALEGRE
df = pd.DataFrame(df_by_city)

print("Filtro pronto")

Filtro pronto

In [4]:
# deletando mais algumas colunas que não são importantes após o filtro ser realizado
# devem ser feitas após o filtro
del df['NO_MUNICIPIO_PROVA']
del df['TP_PRESENCA_CN']
del df['TP_PRESENCA_CH']
del df['TP_PRESENCA_LC']
del df['TP_PRESENCA_MT']
del df['NO_MUNICIPIO_ESC']
del df['SG_UF_ESC']
del df['NO_MUNICIPIO_RESIDENCIA'] # variáveis constantes apontadas no pandas profiling
del df['SG_UF_RESIDENCIA'] # variáveis constantes apontadas no pandas profiling
del df['IN_CEGUEIRA'] # variáveis constantes apontadas no pandas profiling
del df['IN_IDOSO'] # variáveis constantes apontadas no pandas profiling
del df['SG_UF_PROVA'] # variáveis constantes apontadas no pandas profiling

print("Remoções 2 prontas")

Remoções 2 prontas

In [5]:
# Usar a função do pandas_profiling/describe.py

# para pegar as seguintes infos:
   # datatype
   # min_val
   # max_val
# de cada coluna do data frame

def table_data_format(df_orig):
    metadata = []
    df = df_orig
    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value=np.nan, inplace=True)

    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')

    for idx, col in enumerate(df.columns):
        helper = {}
        key = col
        if len(key) > 15:
            key = col[:15]

        helper['ascend'] = 0
        helper['name'] = key
        if(df.dtypes[col] == "object"):
            df[col].replace(to_replace=["na", "?", np.nan, "missing", "not available",
                                        "n/a", "missing value"], value="missing value", inplace=True)
            helper['datatype'] = 'string'
            helper['values'] = df[col].unique().tolist()
        elif(df.dtypes[col] == "int64"):
            helper['datatype'] = 'int'
            helper['min_val'] = df[col].min()
            helper['max_val'] = df[col].max()
        elif(df.dtypes[col] == "float64"):
            helper['datatype'] = 'float'
            helper['min_val'] = df[col].min()
            helper['max_val'] = df[col].max()
        metadata.append(helper)

    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value="missing value", inplace=True)
    data_array = []
    for row in range(df.shape[0]):
        aux = []
        for col in range(df.shape[1]):
            aux.append(df.iloc[row, col])
        data_array.append(aux)
    return metadata

In [6]:
metadata = table_data_format(df)

#metadata

In [7]:
def table_data_format(df_orig):
    metadata = []
    df = df_orig
    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value=np.nan, inplace=True)

    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')

    for idx, col in enumerate(df.columns):
        helper = {}
        key = col
        if len(key) > 15:
            key = col[:15]

        helper['ascend'] = 0
        helper['name'] = key
        if(df.dtypes[col] == "object"):
            df[col].replace(to_replace=["na", "?", np.nan, "missing", "not available",
                                        "n/a", "missing value"], value="missing value", inplace=True)
            helper['datatype'] = 'string'
            helper['values'] = df[col].unique().tolist()
        elif(df.dtypes[col] == "int64"):
            helper['datatype'] = 'int'
            helper['min_val'] = df[col].min()
            helper['max_val'] = df[col].max()
        elif(df.dtypes[col] == "float64"):
            helper['datatype'] = 'float'
            helper['min_val'] = df[col].min()
            helper['max_val'] = df[col].max()
        metadata.append(helper)

    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value="missing value", inplace=True)
    data_array = []
    for row in range(df.shape[0]):
        aux = []
        for col in range(df.shape[1]):
            aux.append(df.iloc[row, col])
        data_array.append(aux)
    return data_array

In [8]:
data_array = table_data_format(df)

#data_array

In [9]:
# Salvar csv para gerar o data table viz
path = r'C:\Users\Luis_Dutra\3D Objects\datasets\enem\enem_2019_for_table_viz.csv'

df.to_csv(path, index=False)

In [10]:
# Pegando os primeiros X valores do data frame
linhas = 500
df = df.head(linhas)

In [11]:
# Exibe a quantiade de linhas e colunas
df

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025
39020,190001043648,19,M,Solteiro(a),Parda,Brasileiro(a),RS,Já concluí o Ensino Médio,2018,Não Respondeu,...,582.1,544.5,680.7,Espanhol,Sem problemas,760.0,Completou a Pós-graduação.,"Completou a Faculdade, mas não completou a Pós...",9 a 10 SM,Sim
680121,190001684765,35,F,Casado(a)/Mora com companheiro(a),Branca,Brasileiro(a),RS,Já concluí o Ensino Médio,Antes de 2007,Não Respondeu,...,538.5,546.8,367.3,Espanhol,Sem problemas,640.0,Completou a 8ª série/9º ano do Ensino Fundamen...,"Completou a 4ª série/5º ano, mas não completou...",1 SM,Sim
680130,190001684774,18,F,Não informado,Branca,Brasileiro(a),RS,Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,...,529.1,526.9,412.6,Inglês,Sem problemas,660.0,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...",2.5 a 3 SM,Sim
680135,190001684779,24,M,Solteiro(a),Branca,Brasileiro(a),RS,Já concluí o Ensino Médio,2014,Não Respondeu,...,464.7,535.7,659.7,Inglês,Sem problemas,800.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou o Ensino Médio, mas não completou a ...",1 SM,Sim
680149,190001684793,20,F,Solteiro(a),Branca,Brasileiro(a),RS,Já concluí o Ensino Médio,2017,Não Respondeu,...,537.0,557.6,393.6,Inglês,Sem problemas,620.0,"Completou o Ensino Médio, mas não completou a ...",Completou a 8ª série/9º ano do Ensino Fundamen...,2 a 2.5 SM,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685848,190001690492,18,F,Solteiro(a),Branca,Brasileiro(a),RS,Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,...,458.0,569.0,560.0,Inglês,Sem problemas,640.0,Não completou a 4ª série/5º ano do Ensino Fund...,Não completou a 4ª série/5º ano do Ensino Fund...,1 a 1.5 SM,Sim
685858,190001690502,21,F,Solteiro(a),Branca,Brasileiro(a),RS,Já concluí o Ensino Médio,Não informado,Não Respondeu,...,470.9,525.5,391.7,Inglês,Sem problemas,560.0,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...",5 a 6 SM,Sim
685867,190001690511,19,F,Solteiro(a),Parda,Brasileiro(a),RS,Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,...,389.3,489.7,490.4,Espanhol,Sem problemas,560.0,Não completou a 4ª série/5º ano do Ensino Fund...,Não completou a 4ª série/5º ano do Ensino Fund...,1 a 1.5 SM,Não
685868,190001690512,19,M,Solteiro(a),Não declarado,Brasileiro(a),SC,Já concluí o Ensino Médio,2018,Não Respondeu,...,666.9,611.2,705.4,Inglês,Sem problemas,640.0,Completou a Pós-graduação.,"Completou a Faculdade, mas não completou a Pós...",15 a 20 SM,Sim
685873,190001690517,22,F,Solteiro(a),Branca,Brasileiro(a),RS,Já concluí o Ensino Médio,2015,Não Respondeu,...,569.3,647.9,598.7,Inglês,Sem problemas,680.0,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...",1 a 1.5 SM,Sim

In [12]:
# Atualizar: quantInsc = quantidade de linhas
# Atualizar: quantColumns = quantidade de colunas

quantInsc = 500 
quantColumns = 35

In [13]:
# Subsituindo missing values
df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                       "n/a", "missing value"], value="missing value", inplace=True)

In [14]:
# Salvando dataset antes de organizar para a visualizção
# Para gerar relatório no pandas profiling
path = r'C:\Users\Luis_Dutra\3D Objects\datasets\enem\enem_2019_preview_500_lines.csv'

df.to_csv(path, index=False)

print("preview salva!")

preview salva!

In [15]:
# Criando um df para cada coluna do dataset
df_col_id=df[['NU_INSCRICAO']]

df_col_1=df[['NU_IDADE']]
df_col_2=df[['TP_SEXO']]
df_col_3=df[['TP_ESTADO_CIVIL']]
df_col_4=df[['TP_COR_RACA']]
df_col_5=df[['TP_NACIONALIDADE']]
df_col_6=df[['SG_UF_NASCIMENTO']]
df_col_7=df[['TP_ST_CONCLUSAO']]
df_col_8=df[['TP_ANO_CONCLUIU']]
df_col_9=df[['TP_ESCOLA']]
df_col_10=df[['TP_ENSINO']]
df_col_11=df[['IN_TREINEIRO']]
df_col_12=df[['TP_DEPENDENCIA_ADM_ESC']]
df_col_13=df[['TP_LOCALIZACAO_ESC']]
df_col_14=df[['TP_SIT_FUNC_ESC']]
df_col_15=df[['IN_SURDEZ']]
df_col_16=df[['IN_SURDO_CEGUEIRA']]
df_col_17=df[['IN_DEFICIENCIA_FISICA']]
df_col_18=df[['IN_DEFICIENCIA_MENTAL']]
df_col_19=df[['IN_DEFICIT_ATENCAO']]
df_col_20=df[['IN_DISLEXIA']]
df_col_21=df[['IN_DISCALCULIA']]
df_col_22=df[['IN_AUTISMO']]
df_col_23=df[['IN_GESTANTE']]
df_col_24=df[['NU_NOTA_CN']]
df_col_25=df[['NU_NOTA_CH']]
df_col_26=df[['NU_NOTA_LC']]
df_col_27=df[['NU_NOTA_MT']]
df_col_28=df[['TP_LINGUA']]
df_col_29=df[['TP_STATUS_REDACAO']]
df_col_30=df[['NU_NOTA_REDACAO']]
df_col_31=df[['Q001']]
df_col_32=df[['Q002']]
df_col_33=df[['Q006']]
df_col_34=df[['Q025']]

# df_col_1

In [16]:
# concatena a coluna NU_INSCRIÇÃO n vezes e renomeia a coluna para variable
# Coluna variable pronta !

df_variable = pd.concat([df_col_id] * quantColumns, ignore_index=True)

df_variable = df_variable.rename(columns={'NU_INSCRICAO':'variable'})

### df_variable pronto ###
#df_variable

In [17]:
#Pegando os 'x' primeiros valores de cada coluna e criando dataframes de valores

values_col_1=df_col_1.head(quantInsc)
values_col_2=df_col_2.head(quantInsc)
values_col_3=df_col_3.head(quantInsc)
values_col_4=df_col_4.head(quantInsc)
values_col_5=df_col_5.head(quantInsc)
values_col_6=df_col_6.head(quantInsc)
values_col_7=df_col_7.head(quantInsc)
values_col_8=df_col_8.head(quantInsc)
values_col_9=df_col_9.head(quantInsc)
values_col_10=df_col_10.head(quantInsc)
values_col_11=df_col_11.head(quantInsc)
values_col_12=df_col_12.head(quantInsc)
values_col_13=df_col_13.head(quantInsc)
values_col_14=df_col_14.head(quantInsc)
values_col_15=df_col_15.head(quantInsc)
values_col_16=df_col_16.head(quantInsc)
values_col_17=df_col_17.head(quantInsc)
values_col_18=df_col_18.head(quantInsc)
values_col_19=df_col_19.head(quantInsc)
values_col_20=df_col_20.head(quantInsc)
values_col_21=df_col_21.head(quantInsc)
values_col_22=df_col_22.head(quantInsc)
values_col_23=df_col_23.head(quantInsc)
values_col_24=df_col_24.head(quantInsc)
values_col_25=df_col_25.head(quantInsc)
values_col_26=df_col_26.head(quantInsc)
values_col_27=df_col_27.head(quantInsc)
values_col_28=df_col_28.head(quantInsc)
values_col_29=df_col_29.head(quantInsc)
values_col_30=df_col_30.head(quantInsc)
values_col_31=df_col_31.head(quantInsc)
values_col_32=df_col_32.head(quantInsc)
values_col_33=df_col_33.head(quantInsc)
values_col_34=df_col_34.head(quantInsc)

#values_col_1

In [18]:
# Renomeando a coluna dos dataframes de valores para value

values_col_1=values_col_1.rename(columns={'NU_IDADE':'value'})
values_col_2=values_col_2.rename(columns={'TP_SEXO':'value'})
values_col_3=values_col_3.rename(columns={'TP_ESTADO_CIVIL':'value'})
values_col_4=values_col_4.rename(columns={'TP_COR_RACA':'value'})
values_col_5=values_col_5.rename(columns={'TP_NACIONALIDADE':'value'})
values_col_6=values_col_6.rename(columns={'SG_UF_NASCIMENTO':'value'})
values_col_7=values_col_7.rename(columns={'TP_ST_CONCLUSAO':'value'})
values_col_8=values_col_8.rename(columns={'TP_ANO_CONCLUIU':'value'})
values_col_9=values_col_9.rename(columns={'TP_ESCOLA':'value'})
values_col_10=values_col_10.rename(columns={'TP_ENSINO':'value'})
values_col_11=values_col_11.rename(columns={'IN_TREINEIRO':'value'})
values_col_12=values_col_12.rename(columns={'TP_DEPENDENCIA_ADM_ESC':'value'})
values_col_13=values_col_13.rename(columns={'TP_LOCALIZACAO_ESC':'value'})
values_col_14=values_col_14.rename(columns={'TP_SIT_FUNC_ESC':'value'})
values_col_15=values_col_15.rename(columns={'IN_SURDEZ':'value'})
values_col_16=values_col_16.rename(columns={'IN_SURDO_CEGUEIRA':'value'})
values_col_17=values_col_17.rename(columns={'IN_DEFICIENCIA_FISICA':'value'})
values_col_18=values_col_18.rename(columns={'IN_DEFICIENCIA_MENTAL':'value'})
values_col_19=values_col_19.rename(columns={'IN_DEFICIT_ATENCAO':'value'})
values_col_20=values_col_20.rename(columns={'IN_DISLEXIA':'value'})
values_col_21=values_col_21.rename(columns={'IN_DISCALCULIA':'value'})
values_col_22=values_col_22.rename(columns={'IN_AUTISMO':'value'})
values_col_23=values_col_23.rename(columns={'IN_GESTANTE':'value'})
values_col_24=values_col_24.rename(columns={'NU_NOTA_CN':'value'})
values_col_25=values_col_25.rename(columns={'NU_NOTA_CH':'value'})
values_col_26=values_col_26.rename(columns={'NU_NOTA_LC':'value'})
values_col_27=values_col_27.rename(columns={'NU_NOTA_MT':'value'})
values_col_28=values_col_28.rename(columns={'TP_LINGUA':'value'})
values_col_29=values_col_29.rename(columns={'TP_STATUS_REDACAO':'value'})
values_col_30=values_col_30.rename(columns={'NU_NOTA_REDACAO':'value'})
values_col_31=values_col_31.rename(columns={'Q001':'value'})
values_col_32=values_col_32.rename(columns={'Q002':'value'})
values_col_33=values_col_33.rename(columns={'Q006':'value'})
values_col_34=values_col_34.rename(columns={'Q025':'value'})

#values_col_1

In [19]:
# Concatenando os dataframes de valores em um único dataframe

df_value=pd.concat([
values_col_1,
values_col_2,
values_col_3,
values_col_4,
values_col_5,
values_col_6,
values_col_7,
values_col_8,
values_col_9,
values_col_10,
values_col_11,
values_col_12,
values_col_13,
values_col_14,
values_col_15,
values_col_16,
values_col_17,
values_col_18,
values_col_19,
values_col_20,
values_col_21,
values_col_22,
values_col_23,
values_col_24,
values_col_25,
values_col_26,
values_col_27,
values_col_28,
values_col_29,
values_col_30,
values_col_31,
values_col_32,
values_col_33,
values_col_34], ignore_index=True)

### df_value pronto ###
#df_value

In [20]:
# Criando o dataframe group

df_col_1=pd.DataFrame({'group':['NU_IDADE']})
df_col_2=pd.DataFrame({'group':['TP_SEXO']})
df_col_3=pd.DataFrame({'group':['TP_ESTADO_CIVIL']})
df_col_4=pd.DataFrame({'group':['TP_COR_RACA']})
df_col_5=pd.DataFrame({'group':['TP_NACIONALIDADE']})
df_col_6=pd.DataFrame({'group':['SG_UF_NASCIMENTO']})
df_col_7=pd.DataFrame({'group':['TP_ST_CONCLUSAO']})
df_col_8=pd.DataFrame({'group':['TP_ANO_CONCLUIU']})
df_col_9=pd.DataFrame({'group':['TP_ESCOLA']})
df_col_10=pd.DataFrame({'group':['TP_ENSINO']})
df_col_11=pd.DataFrame({'group':['IN_TREINEIRO']})
df_col_12=pd.DataFrame({'group':['TP_DEPENDENCIA_ADM_ESC']})
df_col_13=pd.DataFrame({'group':['TP_LOCALIZACAO_ESC']})
df_col_14=pd.DataFrame({'group':['TP_SIT_FUNC_ESC']})
df_col_15=pd.DataFrame({'group':['IN_SURDEZ']})
df_col_16=pd.DataFrame({'group':['IN_SURDO_CEGUEIRA']})
df_col_17=pd.DataFrame({'group':['IN_DEFICIENCIA_FISICA']})
df_col_18=pd.DataFrame({'group':['IN_DEFICIENCIA_MENTAL']})
df_col_19=pd.DataFrame({'group':['IN_DEFICIT_ATENCAO']})
df_col_20=pd.DataFrame({'group':['IN_DISLEXIA']})
df_col_21=pd.DataFrame({'group':['IN_DISCALCULIA']})
df_col_22=pd.DataFrame({'group':['IN_AUTISMO']})
df_col_23=pd.DataFrame({'group':['IN_GESTANTE']})
df_col_24=pd.DataFrame({'group':['NU_NOTA_CN']})
df_col_25=pd.DataFrame({'group':['NU_NOTA_CH']})
df_col_26=pd.DataFrame({'group':['NU_NOTA_LC']})
df_col_27=pd.DataFrame({'group':['NU_NOTA_MT']})
df_col_28=pd.DataFrame({'group':['TP_LINGUA']})
df_col_29=pd.DataFrame({'group':['TP_STATUS_REDACAO']})
df_col_30=pd.DataFrame({'group':['NU_NOTA_REDACAO']})
df_col_31=pd.DataFrame({'group':['Q001']})
df_col_32=pd.DataFrame({'group':['Q002']})
df_col_33=pd.DataFrame({'group':['Q006']})
df_col_34=pd.DataFrame({'group':['Q025']})

# Concatenando cada linha do data frame de tipos de dados X vezes e criando um data frame para cada.
df_column_rep_1=pd.concat([df_col_1]*quantInsc, ignore_index=True)
df_column_rep_2=pd.concat([df_col_2]*quantInsc, ignore_index=True)
df_column_rep_3=pd.concat([df_col_3]*quantInsc, ignore_index=True)
df_column_rep_4=pd.concat([df_col_4]*quantInsc, ignore_index=True)
df_column_rep_5=pd.concat([df_col_5]*quantInsc, ignore_index=True)
df_column_rep_6=pd.concat([df_col_6]*quantInsc, ignore_index=True)
df_column_rep_7=pd.concat([df_col_7]*quantInsc, ignore_index=True)
df_column_rep_8=pd.concat([df_col_8]*quantInsc, ignore_index=True)
df_column_rep_9=pd.concat([df_col_9]*quantInsc, ignore_index=True)
df_column_rep_10=pd.concat([df_col_10]*quantInsc, ignore_index=True)
df_column_rep_11=pd.concat([df_col_11]*quantInsc, ignore_index=True)
df_column_rep_12=pd.concat([df_col_12]*quantInsc, ignore_index=True)
df_column_rep_13=pd.concat([df_col_13]*quantInsc, ignore_index=True)
df_column_rep_14=pd.concat([df_col_14]*quantInsc, ignore_index=True)
df_column_rep_15=pd.concat([df_col_15]*quantInsc, ignore_index=True)
df_column_rep_16=pd.concat([df_col_16]*quantInsc, ignore_index=True)
df_column_rep_17=pd.concat([df_col_17]*quantInsc, ignore_index=True)
df_column_rep_18=pd.concat([df_col_18]*quantInsc, ignore_index=True)
df_column_rep_19=pd.concat([df_col_19]*quantInsc, ignore_index=True)
df_column_rep_20=pd.concat([df_col_20]*quantInsc, ignore_index=True)
df_column_rep_21=pd.concat([df_col_21]*quantInsc, ignore_index=True)
df_column_rep_22=pd.concat([df_col_22]*quantInsc, ignore_index=True)
df_column_rep_23=pd.concat([df_col_23]*quantInsc, ignore_index=True)
df_column_rep_24=pd.concat([df_col_24]*quantInsc, ignore_index=True)
df_column_rep_25=pd.concat([df_col_25]*quantInsc, ignore_index=True)
df_column_rep_26=pd.concat([df_col_26]*quantInsc, ignore_index=True)
df_column_rep_27=pd.concat([df_col_27]*quantInsc, ignore_index=True)
df_column_rep_28=pd.concat([df_col_28]*quantInsc, ignore_index=True)
df_column_rep_29=pd.concat([df_col_29]*quantInsc, ignore_index=True)
df_column_rep_30=pd.concat([df_col_30]*quantInsc, ignore_index=True)
df_column_rep_31=pd.concat([df_col_31]*quantInsc, ignore_index=True)
df_column_rep_32=pd.concat([df_col_32]*quantInsc, ignore_index=True)
df_column_rep_33=pd.concat([df_col_33]*quantInsc, ignore_index=True)
df_column_rep_34=pd.concat([df_col_34]*quantInsc, ignore_index=True)

df_group = pd.concat([
df_column_rep_1,
df_column_rep_2,
df_column_rep_3,
df_column_rep_4,
df_column_rep_5,
df_column_rep_6,
df_column_rep_7,
df_column_rep_8,
df_column_rep_9,
df_column_rep_10,
df_column_rep_11,
df_column_rep_12,
df_column_rep_13,
df_column_rep_14,
df_column_rep_15,
df_column_rep_16,
df_column_rep_17,
df_column_rep_18,
df_column_rep_19,
df_column_rep_20,
df_column_rep_21,
df_column_rep_22,
df_column_rep_23,
df_column_rep_24,
df_column_rep_25,
df_column_rep_26,
df_column_rep_27,
df_column_rep_28,
df_column_rep_29,
df_column_rep_30,
df_column_rep_31,
df_column_rep_32,
df_column_rep_33,
df_column_rep_34], ignore_index=True)

#df_group

In [21]:
# ATUALIZAR DATA TYPE
# criando o dataframe com os tipos de dados de cada coluna

# Criando o array de dados com o tipo de dado de cada coluna
data_type = {'datatype' : [
'int',
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'string', 
'float',  
'float',  
'float',  
'float',  
'string', 
'string', 
'float',  
'string', 
'string', 
'string', 
'string']}

# Transformando em um data frame
df_type = pd.DataFrame(data_type, columns = ['datatype'])

# Concatenando cada linha do data frame de tipos de dados X vezes e criando um data frame para cada.
df_datatype0 = pd.concat([df_type.loc[[0]]]*quantInsc, ignore_index=True)
df_datatype1 = pd.concat([df_type.loc[[1]]]*quantInsc, ignore_index=True)
df_datatype2 = pd.concat([df_type.loc[[2]]]*quantInsc, ignore_index=True)
df_datatype3 = pd.concat([df_type.loc[[3]]]*quantInsc, ignore_index=True)
df_datatype4 = pd.concat([df_type.loc[[4]]]*quantInsc, ignore_index=True)
df_datatype5 = pd.concat([df_type.loc[[5]]]*quantInsc, ignore_index=True)
df_datatype6 = pd.concat([df_type.loc[[6]]]*quantInsc, ignore_index=True)
df_datatype7 = pd.concat([df_type.loc[[7]]]*quantInsc, ignore_index=True)
df_datatype8 = pd.concat([df_type.loc[[8]]]*quantInsc, ignore_index=True)
df_datatype9 = pd.concat([df_type.loc[[9]]]*quantInsc, ignore_index=True)
df_datatype10 = pd.concat([df_type.loc[[10]]]*quantInsc, ignore_index=True)
df_datatype11 = pd.concat([df_type.loc[[11]]]*quantInsc, ignore_index=True)
df_datatype12 = pd.concat([df_type.loc[[12]]]*quantInsc, ignore_index=True)
df_datatype13 = pd.concat([df_type.loc[[13]]]*quantInsc, ignore_index=True)
df_datatype14 = pd.concat([df_type.loc[[14]]]*quantInsc, ignore_index=True)
df_datatype15 = pd.concat([df_type.loc[[15]]]*quantInsc, ignore_index=True)
df_datatype16 = pd.concat([df_type.loc[[16]]]*quantInsc, ignore_index=True)
df_datatype17 = pd.concat([df_type.loc[[17]]]*quantInsc, ignore_index=True)
df_datatype18 = pd.concat([df_type.loc[[18]]]*quantInsc, ignore_index=True)
df_datatype19 = pd.concat([df_type.loc[[19]]]*quantInsc, ignore_index=True)
df_datatype20 = pd.concat([df_type.loc[[20]]]*quantInsc, ignore_index=True)
df_datatype21 = pd.concat([df_type.loc[[21]]]*quantInsc, ignore_index=True)
df_datatype22 = pd.concat([df_type.loc[[22]]]*quantInsc, ignore_index=True)
df_datatype23 = pd.concat([df_type.loc[[23]]]*quantInsc, ignore_index=True)
df_datatype24 = pd.concat([df_type.loc[[24]]]*quantInsc, ignore_index=True)
df_datatype25 = pd.concat([df_type.loc[[25]]]*quantInsc, ignore_index=True)
df_datatype26 = pd.concat([df_type.loc[[26]]]*quantInsc, ignore_index=True)
df_datatype27 = pd.concat([df_type.loc[[27]]]*quantInsc, ignore_index=True)
df_datatype28 = pd.concat([df_type.loc[[28]]]*quantInsc, ignore_index=True)
df_datatype29 = pd.concat([df_type.loc[[29]]]*quantInsc, ignore_index=True)
df_datatype30 = pd.concat([df_type.loc[[30]]]*quantInsc, ignore_index=True)
df_datatype31 = pd.concat([df_type.loc[[31]]]*quantInsc, ignore_index=True)
df_datatype32 = pd.concat([df_type.loc[[32]]]*quantInsc, ignore_index=True)
df_datatype33 = pd.concat([df_type.loc[[33]]]*quantInsc, ignore_index=True)

# concatenando todas os data frames em um único data frame
df_datatype = pd.concat([
df_datatype0,
df_datatype1,
df_datatype2,
df_datatype3,
df_datatype4,
df_datatype5,
df_datatype6,
df_datatype7,
df_datatype8,
df_datatype9,
df_datatype10,
df_datatype11,
df_datatype12,
df_datatype13,
df_datatype14,
df_datatype15,
df_datatype16,
df_datatype17,
df_datatype18,
df_datatype19,
df_datatype20,
df_datatype21,
df_datatype22,
df_datatype23,
df_datatype24,
df_datatype25,
df_datatype26,
df_datatype27,
df_datatype28,
df_datatype29,
df_datatype30,
df_datatype31,
df_datatype32,
df_datatype33], ignore_index=True)

### df_datatype PRONTO ###
#df_datatype

In [22]:
# ATUALIZAR MIN_VAL
# Criando dataframe com os valores minimos de cada coluna

# Criando array de dados dos valores minimos de cada coluna
data_min={'min_val':[
13,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
0.0,
0.0,
0.0,
0.0,
1,
1,
1,
1,
1,
1,
1]} 

# Transformando em data frame
df_min = pd.DataFrame(data_min, columns = ['min_val'])

# Concatenando cada linha do data frame de valore minimos dados X vezes e criando um data frame para cada.
df_data_min0 = pd.concat([df_min.loc[[0]]]*quantInsc, ignore_index=True)
df_data_min1 = pd.concat([df_min.loc[[1]]]*quantInsc, ignore_index=True)
df_data_min2 = pd.concat([df_min.loc[[2]]]*quantInsc, ignore_index=True)
df_data_min3 = pd.concat([df_min.loc[[3]]]*quantInsc, ignore_index=True)
df_data_min4 = pd.concat([df_min.loc[[4]]]*quantInsc, ignore_index=True)
df_data_min5 = pd.concat([df_min.loc[[5]]]*quantInsc, ignore_index=True)
df_data_min6 = pd.concat([df_min.loc[[6]]]*quantInsc, ignore_index=True)
df_data_min7 = pd.concat([df_min.loc[[7]]]*quantInsc, ignore_index=True)
df_data_min8 = pd.concat([df_min.loc[[8]]]*quantInsc, ignore_index=True)
df_data_min9 = pd.concat([df_min.loc[[9]]]*quantInsc, ignore_index=True)
df_data_min10 = pd.concat([df_min.loc[[10]]]*quantInsc, ignore_index=True)
df_data_min11 = pd.concat([df_min.loc[[11]]]*quantInsc, ignore_index=True)
df_data_min12 = pd.concat([df_min.loc[[12]]]*quantInsc, ignore_index=True)
df_data_min13 = pd.concat([df_min.loc[[13]]]*quantInsc, ignore_index=True)
df_data_min14 = pd.concat([df_min.loc[[14]]]*quantInsc, ignore_index=True)
df_data_min15 = pd.concat([df_min.loc[[15]]]*quantInsc, ignore_index=True)
df_data_min16 = pd.concat([df_min.loc[[16]]]*quantInsc, ignore_index=True)
df_data_min17 = pd.concat([df_min.loc[[17]]]*quantInsc, ignore_index=True)
df_data_min18 = pd.concat([df_min.loc[[18]]]*quantInsc, ignore_index=True)
df_data_min19 = pd.concat([df_min.loc[[19]]]*quantInsc, ignore_index=True)
df_data_min20 = pd.concat([df_min.loc[[20]]]*quantInsc, ignore_index=True)
df_data_min21 = pd.concat([df_min.loc[[21]]]*quantInsc, ignore_index=True)
df_data_min22 = pd.concat([df_min.loc[[22]]]*quantInsc, ignore_index=True)
df_data_min23 = pd.concat([df_min.loc[[23]]]*quantInsc, ignore_index=True)
df_data_min24 = pd.concat([df_min.loc[[24]]]*quantInsc, ignore_index=True)
df_data_min25 = pd.concat([df_min.loc[[25]]]*quantInsc, ignore_index=True)
df_data_min26 = pd.concat([df_min.loc[[26]]]*quantInsc, ignore_index=True)
df_data_min27 = pd.concat([df_min.loc[[27]]]*quantInsc, ignore_index=True)
df_data_min28 = pd.concat([df_min.loc[[28]]]*quantInsc, ignore_index=True)
df_data_min29 = pd.concat([df_min.loc[[29]]]*quantInsc, ignore_index=True)
df_data_min30 = pd.concat([df_min.loc[[30]]]*quantInsc, ignore_index=True)
df_data_min31 = pd.concat([df_min.loc[[31]]]*quantInsc, ignore_index=True)
df_data_min32 = pd.concat([df_min.loc[[32]]]*quantInsc, ignore_index=True)
df_data_min33 = pd.concat([df_min.loc[[33]]]*quantInsc, ignore_index=True)

# Concatenando os data frames de valores minimos em um unico data frame
df_min = pd.concat([
df_data_min0,
df_data_min1,
df_data_min2,
df_data_min3,
df_data_min4,
df_data_min5,
df_data_min6,
df_data_min7,
df_data_min8,
df_data_min9,
df_data_min10,
df_data_min11,
df_data_min12,
df_data_min13,
df_data_min14,
df_data_min15,
df_data_min16,
df_data_min17,
df_data_min18,
df_data_min19,
df_data_min20,
df_data_min21,
df_data_min22,
df_data_min23,
df_data_min24,
df_data_min25,
df_data_min26,
df_data_min27,
df_data_min28,
df_data_min29,
df_data_min30,
df_data_min31,
df_data_min32,
df_data_min33
], ignore_index=True)

#df_min

In [23]:
#ATUALIZAR MAX_VAL
#Criando um dataframe com os valores maximos de cada coluna

# Criando o array de dados
data_max = {'max_val' : [
77,
2,
5,
6,
5,
27,
4,
14,
3,
2,
2,
4,
2,
3,
2,
2,
2,
2,
2,
2,
2,
2,
2,
793.1,
784.1,
731.2,
985.5,
2,
8,
980.0,
8,
8,
17,
2]}

# Transformando em data frame
df_max = pd.DataFrame(data_max, columns = ['max_val'])

# Concatenando cada linha do data frame de valore máximos dados X vezes e criando um data frame para cada. 
df_data_max0 = pd.concat([df_max.loc[[0]]]*quantInsc, ignore_index=True)
df_data_max1 = pd.concat([df_max.loc[[1]]]*quantInsc, ignore_index=True)
df_data_max2 = pd.concat([df_max.loc[[2]]]*quantInsc, ignore_index=True)
df_data_max3 = pd.concat([df_max.loc[[3]]]*quantInsc, ignore_index=True)
df_data_max4 = pd.concat([df_max.loc[[4]]]*quantInsc, ignore_index=True)
df_data_max5 = pd.concat([df_max.loc[[5]]]*quantInsc, ignore_index=True)
df_data_max6 = pd.concat([df_max.loc[[6]]]*quantInsc, ignore_index=True)
df_data_max7 = pd.concat([df_max.loc[[7]]]*quantInsc, ignore_index=True)
df_data_max8 = pd.concat([df_max.loc[[8]]]*quantInsc, ignore_index=True)
df_data_max9 = pd.concat([df_max.loc[[9]]]*quantInsc, ignore_index=True)
df_data_max10 = pd.concat([df_max.loc[[10]]]*quantInsc, ignore_index=True)
df_data_max11 = pd.concat([df_max.loc[[11]]]*quantInsc, ignore_index=True)
df_data_max12 = pd.concat([df_max.loc[[12]]]*quantInsc, ignore_index=True)
df_data_max13 = pd.concat([df_max.loc[[13]]]*quantInsc, ignore_index=True)
df_data_max14 = pd.concat([df_max.loc[[14]]]*quantInsc, ignore_index=True)
df_data_max15 = pd.concat([df_max.loc[[15]]]*quantInsc, ignore_index=True)
df_data_max16 = pd.concat([df_max.loc[[16]]]*quantInsc, ignore_index=True)
df_data_max17 = pd.concat([df_max.loc[[17]]]*quantInsc, ignore_index=True)
df_data_max18 = pd.concat([df_max.loc[[18]]]*quantInsc, ignore_index=True)
df_data_max19 = pd.concat([df_max.loc[[19]]]*quantInsc, ignore_index=True)
df_data_max20 = pd.concat([df_max.loc[[20]]]*quantInsc, ignore_index=True)
df_data_max21 = pd.concat([df_max.loc[[21]]]*quantInsc, ignore_index=True)
df_data_max22 = pd.concat([df_max.loc[[22]]]*quantInsc, ignore_index=True)
df_data_max23 = pd.concat([df_max.loc[[23]]]*quantInsc, ignore_index=True)
df_data_max24 = pd.concat([df_max.loc[[24]]]*quantInsc, ignore_index=True)
df_data_max25 = pd.concat([df_max.loc[[25]]]*quantInsc, ignore_index=True)
df_data_max26 = pd.concat([df_max.loc[[26]]]*quantInsc, ignore_index=True)
df_data_max27 = pd.concat([df_max.loc[[27]]]*quantInsc, ignore_index=True)
df_data_max28 = pd.concat([df_max.loc[[28]]]*quantInsc, ignore_index=True)
df_data_max29 = pd.concat([df_max.loc[[29]]]*quantInsc, ignore_index=True)
df_data_max30 = pd.concat([df_max.loc[[30]]]*quantInsc, ignore_index=True)
df_data_max31 = pd.concat([df_max.loc[[31]]]*quantInsc, ignore_index=True)
df_data_max32 = pd.concat([df_max.loc[[32]]]*quantInsc, ignore_index=True)
df_data_max33 = pd.concat([df_max.loc[[33]]]*quantInsc, ignore_index=True)

# Concatenando os data frames de valores máximos em um unico data frame
df_max = pd.concat([
df_data_max0,
df_data_max1,
df_data_max2,
df_data_max3,
df_data_max4,
df_data_max5,
df_data_max6,
df_data_max7,
df_data_max8,
df_data_max9,
df_data_max10,
df_data_max11,
df_data_max12,
df_data_max13,
df_data_max14,
df_data_max15,
df_data_max16,
df_data_max17,
df_data_max18,
df_data_max19,
df_data_max20,
df_data_max21,
df_data_max22,
df_data_max23,
df_data_max24,
df_data_max25,
df_data_max26,
df_data_max27,
df_data_max28,
df_data_max29,
df_data_max30,
df_data_max31,
df_data_max32,
df_data_max33], ignore_index=True)

#df_max

In [24]:
#União dos dataframes
df_enem = pd.DataFrame(df_group)

df_enem.insert(1, "variable", df_variable, True)

df_enem.insert(2, "value", df_value, True)

df_enem.insert(3, "datatype", df_datatype, True)

df_enem.insert(4, "min_val", df_min, True)

df_enem.insert(5, "max_val", df_max, True)

#df_enem

In [25]:
#Sanvando o dataset criado

path = r'C:\Users\Luis_Dutra\3D Objects\datasets\enem\enem_2019_by_city_poa_formatted_with_500_lines.csv'

df_enem.to_csv(path, index=False)